extends layout
block content
    script(src="/javascripts/lib/socket.io.js")
    script(src="/javascripts/socket-test.js")
    if user
        div.homescreen  Hi #{user.local.name}
    else
        div.homescreen
            h1 ModME
            p Welcome to ModME, please login to continue or sign up to enjoy our services!

    include stats.jade
    include userlist.jade
    include login.jade
    include tasks.jade
