doctype html
html
  head
    title= title
    script(src="/javascripts/jquery-1.10.1.min.js")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/jquery.fancybox.css')
    script(src="/javascripts/jquery.fancybox.js?v=2.1.5")
    script(src="/javascripts/sorttable.js")
    if user
      script.
        var viewUser = !{JSON.stringify(user)};
    script(src="/javascripts/global.js")

  body
    header
    .main
        .left
          if user
            div.logo
            div.email #{user.local.name}
            .nav
              ul
                li
                  span
                    a.myButton(data-hash='/') HOME
                li
                  span
                    a.myButton(data-hash='userlist') USERS
                li
                  span
                    a.myButton(data-hash='tasks') TASKS
                li
                  span
                    a.myButton(data-hash='logout') LOG OUT
          else
            div.logo
            .nav
              ul
                li
                  span
                    a.myButton(data-hash='/') HOME
                li
                  span
                    a.myButton(data-hash='signup') SIGN UP
                li
                  span
                    a.myButton(data-hash='login') LOGIN
        .page-container
          block content
