link(rel='stylesheet', href='/stylesheets/style.css')

div.center-column
    form(action="/adduser", method='post')
        label(for="inputUserName") Name
        input#inputUserName(type="text", placeholder="username", name="username")
        br
        label(for="inputUserEmail") Email
        input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
        br
        label(for="inputPassword") Password
        input#inputPassword(type="password", name = "password")
        button#btnSubmit(type="submit" onclick="parent.$.fancybox.close()") Add
