div.center-column
        form(action="/adduser", method='post')
            input#inputUserName(type="text", placeholder="username", name="username")
            br
            input#inputUserEmail(type="text", placeholder="useremail", name="useremail")
            br
            button#btnSubmit(type="submit" onclick="parent.$.fancybox.close()") submit
