block content
    script(src="/javascripts/lib/spectrum.js")
    link(rel="stylesheet", href='/stylesheets/spectrum.css')
    time
    #container.center-column
        input#colorpicker
        table#stats-table.user-table.center.sortable.order-table.table
            thead
                th Team
                th 1
                th 2
                th 3
                th 4
                th 5
                th 6
                th 7
                th 8
                th 9
                th total
            tbody