block content
    div#task.center-column
        div.add-new-task
            button(class="addtaskmodal fancybox.iframe", href="/tasks/add") Add New Task
        input(class="filter__search js-shuffle-search" type="search" placeholder="Search..")
        #grid.task-center
        div(shuffle__sizer)