block content
    div#task.center-column
        table#task-table.user-table.center.sortable.order-table.table
            thead
                th(style="width:200px;") Title
                th Task
            tbody
        div.add-new-task
            button(class="addusermodal fancybox.iframe", href="/tasks/add") Add New User


