<html>
<head>
    <title>ModME</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">

    <script src="javascripts/lib/angular.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>


    <script src="javascripts/controllers.js"></script>
    <script src="javascripts/service.js"></script>
    <script src="javascripts/router.js"></script>
    <script src="javascripts/app.js"></script>
    <style> .glyphicon-thumbs-up { cursor:pointer } </style>
</head>
    <body ng-app="main">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <ui-view/>
            </div>
        </div>
    </body>
</html>