block content
    link(rel="stylesheet", href='/stylesheets/userlist.css')
    div.center-column
        div.filter
            input(type="search", class="light-table-filter", data-table="order-table", placeholder="filter")
        div.add-new-user
            button(class="addusermodal fancybox.iframe", href="/userlist/newuser") Add New User
        table#user-table.user-table.center.sortable.order-table.table
            thead
                th Name
                th Email
                th ID
                th
            tbody


        script(src="/javascripts/userlist.js")

