extends layout
block content
    div
        table.user-table.center
            tr
                th Name
                th Email
                th ID
                th Remove
            each user, i in userlist
                tr
                    td #{user.username}
                    td #{user.email}
                    td #{user._id}
                    td
                        button.openmodal(class="fancybox.iframe", href="/remove-user?userid=#{user._id}") REMOVE

        div.add-new-user
            button.openmodal(class="fancybox.iframe", href="/newuser") Add New User
