button{
    width: 75px;
    padding: 10px;
    margin: 10px;
    background-color: #97cfe1;
    border-radius: 5px;
    border: none;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    color: white;
}
button:hover{
    background-color: #7db0c7;
}

button.yes{
}

button.no{
}

.center{
    text-align: center;
}