.center{
  margin-left: auto;
  margin-right: auto;
}

table.user-table, .user-table td, .user-table th{
  text-align: left;
  table-layout: fixed;
  padding:10px;
  border-collapse: collapse;
  width: 50%;
  border: 2px solid black;
}
