body{
  font-family:Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom, rgb(67, 130, 191), rgba(46, 92, 236, 0.76), rgba(41, 9, 63, 0.76)); /* Standard syntax */
  margin:0;
  height: 100%;
}

.main{
  width: 1000px;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  height: 90vh;
  background: linear-gradient(to top, rgb(50, 20, 47), rgba(61, 18, 63, 0.3)); /* Standard syntax */
  box-shadow: 0 0 30px #262626;
  border-top-right-radius: 5px;


  /*background: -webkit-gradient(linear, left bottom, left top, from(rgba(50,50,50,0.8)), to(rgba(80,80,80,0)), color-stop(.5,#333333)*/
  );}

.page-container{
  float: left;
  width: 800px;
  height: 100%;
  background: url("../images/basic-logo-mm-opacity.png") center center no-repeat;

}

.bar{
  display: block;
  position: relative;
  margin: auto;
  top: 60px;
  width: 150px;
  height: 300px;
  background-color: #444444;
}
.left {
  height: 100%;
  width: 200px;
  float: left;
  background: linear-gradient(to top, rgb(82, 161, 236), rgba(82, 161, 236, 0.30)); /* Standard syntax */
  border-top-left-radius: 5px;
  box-shadow: 4px 2px 8px rgba(0, 0, 0, 0.4);
}

.logo{
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
  width: 100px;
  background-image: url("../images/basic-logo-mm.png");
  background-size: 100px 100px;
  background-repeat: no-repeat;
}

.nav{
  float: left;
}

.email{
  color: white;
  margin-top: 20px;
  float: left;
  width: 200px;
  text-align: center;

}
.nav ul{
  padding: 0;
  list-style: none;
}

.nav li{
  height: 50px;
  width: 200px;
  background: linear-gradient(to right, rgba(50, 20, 47, 0.77), rgba(61, 18, 63, 0.3)); /* Standard syntax */
  margin-top: 10px;
  text-align: center;
  color: white;
}
.nav a{
  color: #b6b6b6;
  display: table-cell;
  vertical-align: middle;
}
.nav li.selected a{
  box-shadow: 0px 0px 10px black;
  color: white;
  font-weight: bold;
  background: linear-gradient(to right, rgba(38, 38, 38, 0.77), rgba(46, 92, 236, 0.30)); /* Standard syntax */

}
.nav button{
  height: 100%;
  width: 200px;
  color: black;
  text-decoration: none;
}

.homescreen{
  display: none;
  padding: 50px;
  color: white;
}

.show{
  display: block;
}

.filter{
  float: left;
  height: 50px;
}

.filter input{
  height: 50px;
}
.filter input:focus{
  box-shadow :  inset 0px 0px 30px #4382bf;
}

.myButton {
  -moz-box-shadow:inset 0px 0px 15px 3px #23395e;
  -webkit-box-shadow:inset 0px 0px 15px 3px #23395e;
  box-shadow:inset 0px 0px 15px 3px #23395e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #2e466e), color-stop(1, #415989));
  background:-moz-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-webkit-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-o-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:-ms-linear-gradient(top, #2e466e 5%, #415989 100%);
  background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#2e466e', endColorstr='#415989',GradientType=0);
  background-color:#2e466e;
  border:1px solid #1f2f47;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:arial;
  font-size:15px;
  text-decoration:none;
  text-shadow:0px 1px 0px #263666;
  height: 50px;
  width: 200px;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #415989), color-stop(1, #2e466e));
  background:-moz-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-webkit-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-o-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:-ms-linear-gradient(top, #415989 5%, #2e466e 100%);
  background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#415989', endColorstr='#2e466e',GradientType=0);
  background-color:#415989;
}
.myButton:active {
  position:relative;
  top:1px;
}

