button.removemodal{
    border: none;
    top: -3px;
    left: 0;
    height: 25px;
    width: 25px;
    background: url('/images/fancybox/fancybox_sprite.png' ) 0 0;
    background-size: 30px;
    /*background*/
}