table.user-table{
    width:800px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:12px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    border-radius:3px;
    color: #7c7c7c;
}

table.user-table, .user-table th{
    text-indent: 1%;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    /*width: 100%;*/
    /*border: 1px solid #ccc;*/
    height: 40px;
}


.user-table tr:nth-child(odd){
    background-color: #330008;
}

.user-table tr:nth-child(eve){
    background-color: #310008;
}


.hideme{
    opacity: 0;
    transition: opacity 1s;
    height: 0;
}
.showme{

    opacity: 1;
    transition: opacity 1s;
}

.user-table th{
    /*padding:21px 25px 22px 25px;*/
    border-bottom:1px solid #e0e0e0;

    background: -webkit-gradient(linear, left top, left bottom, from(#310008), to(#330008));
    background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}

.user-table td{
    /*left: 10px;*/
    height: 50px;
    width: 100%;
}

.user-table td.remove{
    text-align: center;
    transition:width 2s, height 2s, background-color 2s, transform 2s;

}
.user-table button{
    position: relative;
    height: 50px;
    width : 50px;
    /*width: 1%;*/
    left:-10px;
}

.add-new-user{
    text-align: center;
    height: 50px;
}
.add-new-user button{
    height: 50px;
    width: 200px;
}


button.removemodal{


    overflow:hidden;

    border: none;
    left: 0;
    height:25px;
    width: 25px;
    background: url('/images/remove.png');
    background-size: 25px;
    /*background*/
}


.left input{
    width: 200px;
}